server:
  port: 2333
  address: 0.0.0.0
  http2:
    enabled: false

lavalink:
  plugins:
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0" #
      snapshot: false
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.3.0"
      snapshot: false
  server:
    password: "youshallnotpass" # <--- Platzhalter
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: true
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: HIGH
    trackStuckThresholdMs: 10000

youtube:
  enabled: true
  allowSearch: true
  allowDirectVideoIds: true
  allowDirectPlaylistIds: true
  clients:
    - MUSIC
    - ANDROID_VR
    - WEB
    - WEBEMBEDDED
  pot:
    token: "${PO_TOKEN}"               # <--- Platzhalter
    visitorData: "${PO_VISITOR_DATA}"  # <--- Platzhalter

lavasrc:
  providers:
    - "ytsearch:\"%ISRC%\"" # Sucht erst nach der exakten ID (ISRC)
    - "ytsearch:%QUERY%"    # Fallback
  sources:
    spotify: true
    applemusic: true
    deezer: false
    yandexmusic: false
  
  # NEU: Hier kommen die Spotify-Daten rein
  spotify:
    clientId: "${SPOTIFY_CLIENT_ID}"
    clientSecret: "${SPOTIFY_CLIENT_SECRET}"
    countryCode: "DE" # Damit Songs verfügbar sind, die es in Deutschland gibt
    playlistLoadLimit: 6 # Lädt bis zu 6 Seiten einer Playlist (optional)
