version: '3.8'

services:
  # --- Service 1: Lavalink (Server) ---
  lavalink:
    build:
      context: .
      dockerfile: Dockerfile.lavalink
    container_name:lavalink
    restart: always
    environment:
      - _JAVA_OPTIONS=-Xmx4G
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
      - PO_TOKEN=${PO_TOKEN}
      - PO_VISITOR_DATA=${PO_VISITOR_DATA}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
    volumes:
      - lavalink-plugins:/opt/Lavalink/plugins
    expose:
      - "2333"
    networks:
      - musicnet

  # --- Service 2: Musicbot (Client) ---
  musicbot:
    build: .
    container_name: musicbot
    restart: always
    ports:
      - "8081:8081"
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - LAVALINK_HOST=lavalink
      - LAVALINK_PORT=2333
      - LAVALINK_PASSWORD=youshallnotpass
      - WEB_PASSWORD=${WEB_PASSWORD}
    depends_on:
      - lavalink
    networks:
      - musicnet

volumes:
  lavalink-plugins:

networks:
  musicnet:
    driver: bridge
